<body>
  <div class="container py-5">
    <div class="text-center">
      <%= image_tag("title_logo.png", alt: "KoreUma! logo", class: "logo-img") %>

      <p class="lead">
        「これうま！」と思った感動を <br />
        そのまま写真とひとことで記録
      </p>
      <div class="d-grid gap-3 col-10 col-sm-8 col-md-6 mx-auto mb-4">
        <%= link_to t('static_pages.top.sign_up_button'), new_user_registration_path, class: "btn btn-primary" %>
        <%= link_to t('static_pages.top.sigh_in_button'), new_user_session_path, class: "btn btn-outline-primary" %>
      </div>
    </div>

    <div class="row mb-4">
      <div class="post-grid">
        <div class="card shadow-sm rounded-3 overflow-hidden card-fixed mx-auto">
          <div class="d-block p-3 pt-3 pb-0">
            <div class="image-wrapper">
              <%= image_tag("sample_ice.jpg", alt: "アイス", class: "food-img img-fluid image-rounded") %>
            </div>
          </div>
          <div class="card-body pt-3 pb-3 px-3">
            <span class="top-hashtag">#アイス</span>
            <p class="mb-0">濃厚でなめらか、また食べたい！</p>
          </div>
        </div>
        <div class="card shadow-sm rounded-3 overflow-hidden card-fixed mx-auto">
          <div class="d-block p-3 pt-3 pb-0">
            <div class="image-wrapper">
              <%= image_tag("sample_curry.jpg", alt: "カレー", class: "food-img img-fluid image-rounded") %>
            </div>
          </div>
          <div class="card-body pt-3 pb-3 px-3">
            <span class="top-hashtag">#カレー</span>
            <p class="mb-0">小鉢なのがもったいないくらい美味</p>
          </div>
        </div>
        <div class="card shadow-sm rounded-3 overflow-hidden card-fixed mx-auto">
          <div class="d-block p-3 pt-3 pb-0">
            <div class="image-wrapper">
              <%= image_tag("sample_bread.jpg", alt: "パン", class: "food-img img-fluid image-rounded") %>
            </div>
          </div>
          <div class="card-body pt-3 pb-3 px-3">
            <span class="top-hashtag">#パン</span>
            <span class="top-hashtag">#ベーグル</span>
            <p class="mb-0">外カリッ中もちっのベーグルサンド</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
