<%= turbo_stream.replace "follow-button-#{@user.id}" do %>
  <%= render 'users/follow_button', user: @user %>
<% end %>

<%= turbo_stream.replace "followers-count" do %>
  <div id="followers-count">
    <%= link_to followers_user_path(@user), class: "text-decoration-none text-dark" do %>
      <strong><%= @user.followers.count %></strong> フォロワー
    <% end %>
  </div>
<% end %>