<%= form_with model: post do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="mb-3" data-controller="image-preview">
    <%= f.label :image, class: "form-label d-block" %>

    <!-- 隠し file_field --><%# class: "d-none" でfile_field非表示にする %>
    <%= f.file_field :image,
          class: "d-none",
          accept: "image/*",
          data: { action: "change->image-preview#preview", image_preview_target: "file" } %>

    <!-- ラベルでボタン風に見せる -->
    <%# label for=で対応する要素（今回で言うとinput要素）のidを指定すると、input要素が選択されたように見せかけられる %>
    <label for="post_image" class="btn btn-outline-primary">
      ファイルを選択
    </label>

    <%= f.hidden_field :image_cache %>

    <div class="mt-2">
      <% if @post.image.present? %>
        <img src="<%= @post.image.url %>" data-image-preview-target="preview" class="img-fluid" style="max-height: 300px;">
      <% else %>
        <img data-image-preview-target="preview" class="img-fluid d-none" style="max-height: 300px;">
      <% end %>
    </div>
  </div>
  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control", rows: "3", placeholder: "一言コメント・この一品の魅力・感想など入力してください" %>
  </div>
  <div class="mb-3">
    <%= f.label :tag_names, "タグ"%>
    <%= f.text_field :tag_names, value: @tag_list, class: "form-control", placeholder: ",で区切って入力してください(例：和食,スイーツ,コンビニなど)" %>
  </div>
  <div class="mb-3">
    <%= f.label :restaurant_info %>
    <%= f.text_field :restaurant_info, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :food_info %>
    <%= f.text_field :food_info, class: "form-control" %>
  </div>
  <%# ここのnilは新規や更新などアクションに適した文字を生成してくれる %>
  <%= f.submit nil, class: "btn btn-primary" %>
<% end %>
