<% content_for(:title, @post.food_info) %>

<div class="container px-3 px-md-5 my-4">
  <div class="bg-white shadow rounded py-4 px-5">
    <!-- タイトル -->
    <h4 class="fw-bold mt-2 mb-4"><%= @post.title %></h4>

    <div class="row g-lg-5">
      <!-- 左：画像＋アイコン -->
      <div class="col-md-5">

        <!-- 画像 -->
        <% if @post.image? %>
          <%= image_tag @post.image.url(:medium), class: "img-fluid rounded w-100 mb-2" %>
        <% end %>

        <!-- お気に入り・ブクマ＆編集削除 -->
        <%= render 'shared/post_actions', post: @post %>
      </div>

      <!-- 右：その他情報 -->
      <div class="col-md-7">
        <!-- アカウント名＆投稿日時 -->
        <div class="d-flex align-items-center mb-3">
          <!-- アカウント名 -->
          <%= link_to user_path(@post.user), class: "d-flex align-items-center text-decoration-none" do %>
            <i class="bi bi-person-fill fs-6 me-1" style="color: #b35900; aria-hidden="true"></i>
            <small class="fw-bold" style="color: #b35900;"><%= @post.user.name %></small>
          <% end %>
          <!-- 日時 -->
          <small class="text-muted ms-3">
            <%= time_ago_in_words(@post.created_at) %>前
            <% if @post.created_at != @post.updated_at %>
              （<%= time_ago_in_words(@post.updated_at) %>前 更新）
            <% end %>
          </small>
        </div>

        <div class="ms-1">
          <!-- 本文 -->
          <div class="mb-4">
            <%= simple_format(@post.body) %>
          </div>

          <!-- タグ --> <%# 共通化できそう %>
          <% if @post.tags.any? %>
            <div class="mb-3 tag-scroll-wrapper">
              <% @post.tags.each do |tag| %>
              <%= link_to "##{tag.name}", posts_path(q: { tags_name_cont: tag.name }), class: "hashtag" %>
              <% end %>
            </div>
          <% end %>

          <div class="ms-1">
            <!-- 食べ物情報 -->
            <% if @post.food_info.present? %>
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-fork-knife fs-6 me-2"></i>
                <!-- p.mb-0 で余計な上下マージンをリセット -->
                <p class="mb-0 small text-muted"><%= @post.food_info %></p>
              </div>
            <% end %>

            <!-- 店舗情報 -->
            <% if @post.restaurant_info.present? %>
              <div class="d-flex align-items-center mt-0 mb-2">
                <i class="bi bi-geo-alt fs-6 me-2"></i>
                <p class="mb-0 small text-muted"><%= @post.restaurant_info %></p>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>

    <!-- 下段：コメント欄 -->
    <div class="mt-5 border-top pt-3">
      <%= render 'comments/form', comment: @comment, post: @post %>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <table class="table">
            <tbody id="table-comment">
              <%= render @comments %>
            </tbody>
          </table>
        </div>
      </div>
      <p class="text-muted small">※ コメント機能は現在未実装です。</p>
    </div>
  </div>
</div>
