<div class="container my-4">
  <!-- 上段：投稿詳細 -->
  <div class="row">
    <!-- 左側：画像とアイコン -->
    <div class="col-md-5 mb-4">
      <%# 投稿画像 %>
      <%= image_tag @post.image.url, class: "img-fluid rounded w-100" if @post.image? %>

      <div class="d-flex justify-content-between mt-2">
        <div>
          <%# いいねアイコン %>
          <i class="bi bi-star me-2"></i>
          <%# ブックマークアイコン %>
          <i class="bi bi-bookmark"></i>
        </div>

        <% if current_user.own?(@post) %>
          <div>
            <%# 編集アイコン %>
            <%= link_to edit_post_path(@post), class: "text-decoration-none me-3" do %>
              <i class="bi bi-pencil-fill"></i>
            <% end %>

            <%# 削除アイコン %>
            <%= link_to post_path(@post), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }, class: "text-decoration-none" do %>
              <i class="bi bi-trash-fill"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <ul class="list-inline">
        <li><i class="bi bi-person"></i>  <%= link_to @post.user.name, user_path(@post.user) %></li>
        <li class="text-muted">
          投稿日: <%= time_ago_in_words(@post.created_at) %>前
          <% if @post.created_at != @post.updated_at %>
            （<%= time_ago_in_words(@post.updated_at) %>前 更新）
          <% end %>
        </li>
        <li>
          <% @post.tags.each do |tag| %>
            <span class="badge bg-secondary"><%= tag.name %></span>
          <% end %>
        </li>
      </ul>
    </div>

    <!-- 右側：投稿内容 -->
    <div class="col-md-7">
      <%#<p><strong>タイトル:</strong><br><%= simple_format(@post.title) %></p>
      <hr class="my-3 border-top border-dark">

      <p><strong>本文:</strong><br><%= simple_format(@post.body) %></p>
      <hr class="my-3 border-top border-dark">

      <p><strong>店舗情報:</strong><br><%= @post.restaurant_info %></p>
      <hr class="my-3 border-top border-dark">

      <p><strong>フード情報:</strong><br><%= @post.food_info %></p>
      <hr class="my-3 border-top border-dark">

    </div>
  </div>

  <!-- 下段：コメント -->
  <div class="row mt-5">
    <div class="col">
      <h5>コメント一覧</h5>
      <ul class="list-unstyled">
        <%#<% @post.comments.each do |comment| %>
          <%#<li class="mb-2 border-bottom pb-2">
            <strong><%= comment.user.name %><%#:</strong>
            <%= comment.body %>
          <%#</li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
